{%- macro flowstep(data) -%}
{% if data.$stepSkip %}
{% set stepClasses = 'fb-step-skip' %}
{% if data.$stepSkipFirst %}{% set stepClasses = stepClasses + ' fb-step-skip-first' %}{% endif %}
{% if data.$stepSkipLast %}{% set stepClasses = stepClasses + ' fb-step-skip-last' %}{% endif %}
{% endif %}
{% if data.$stepOption %}
{% set stepClasses = 'fb-step-option' %}
{% set isInnerStepOption = true %}
{% if data.$stepOptionFirst %}
  {% set stepClasses = stepClasses + ' fb-step-option-first' %}
  {% set isInnerStepOption = false %}
{% endif %}
{% if data.$stepOptionLast %}
  {% set stepClasses = stepClasses + ' fb-step-option-last' %}
  {% set isInnerStepOption = false %}
{% endif %}
{% endif %}

{% if data.$stepSkipFirst %}<div class="fb-step-skip-container"><div class="fb-step-skip-container-line fb-step-skip-container-first"></div>{% endif %}
{% if data.$stepSkipLast %}<div class="fb-step-skip-container-line fb-step-skip-container-last"></div>{% endif %}

{% if data.$stepOptionFirst %}<div class="fb-step-option-container">{% endif %}
<div class="fb-step-container {{data.containerClasses}} {{ stepClasses }}">
{% if isInnerStepOption %}<div class="fb-step-option-container-inner"></div>{% endif %}
<div class="fb-step-wrapper">
<div class="fb-step {{data.classes}}{% if data.$flowStart %} fb-flow-start{% endif %}">
{% if data.rendered %}
{{ data.rendered | safe }}
{% else %}
{{- callMacro('pageContentHeading', data) -}}
{{- callMacro('pageContentBody', data) -}}
{% endif %}
</div>
{%- for flowstep in data.flowsteps -%}
{{- callMacro('flowstep', flowstep) -}}
{%- endfor -%}
</div>
</div>

{% if data.$stepSkipLast %}</div>{% endif %}
{% if data.$stepOptionLast %}</div>{% endif %}
{%- endmacro -%}