{%- macro flowstep(data) -%}
{% if data.$stepSkip %}
{% set stepClasses = 'fb-step-skip' %}
{% if data.$stepSkipFirst %}{% set stepClasses = stepClasses + ' fb-step-skip-first' %}{% endif %}
{% if data.$stepSkipLast %}{% set stepClasses = stepClasses + ' fb-step-skip-last' %}{% endif %}
{% endif %}
{% if data.$stepOption %}
{% set stepClasses = 'fb-step-option' %}
{% set isInnerStepOption = true %}
{% if data.$stepOptionFirst %}
  {% set stepClasses = stepClasses + ' fb-step-option-first' %}
  {% set isInnerStepOption = false %}
{% endif %}
{% if data.$stepOptionLast %}
  {% set stepClasses = stepClasses + ' fb-step-option-last' %}
  {% set isInnerStepOption = false %}
{% endif %}
{% endif %}

{% if data.$stepSkipFirst %}<div class="fb-step-skip-container"><div class="fb-step-skip-container-line fb-step-skip-container-first"></div>{% endif %}
{% if data.$stepSkipLast %}<div class="fb-step-skip-container-line fb-step-skip-container-last"></div>{% endif %}

{% if data.$stepOptionFirst %}<div class="fb-step-option-container">{% endif %}
<div class="fb-step-container {{data.containerClasses}} {{ stepClasses }}">
{% if isInnerStepOption %}<div class="fb-step-option-container-inner"></div>{% endif %}
<div id="{{ data._id | replace('.', '') }}" class="fb-step-wrapper">
{% if data.$showConditions %}
<div class="fb-step-show-conditions">{{ data.$showConditions | safe }}</div>
{% endif %}
{% if data.$showValues %}
<div class="fb-step-show-value"><span>{{ data.$showValues[0] }}</span></div>
{% if data.$showValues[1] | safe %}
<div class="fb-step-show-value-not-met"><span>{{ data.$showValues[1] | safe }}</span></div>
{% endif %}
{% endif %}
<div class="fb-step {{data.classes}}{% if data.$flowStart %} fb-flow-start{% endif %}">
<div class="fb-step-details govuk-prose-scope">
<h2><span class="fb-page-link-type">Url</span> <a href="{{ data.url }}">{{ data.url }}</a></h2>
<ul class="fb-page-links">
<li><span class="fb-page-link-type"><a href="{% if data.url != '/' %}{{ data.url }}{% else %}/{% endif %}">Live view</a></span></li>
<li><span class="fb-page-link-type"><a href="{% if data.url != '/' %}{{ data.url }}/preview{% else %}/preview{% endif %}">Preview mode</a></span></li>
{% if not data.$autoInjected %}
<li><span class="fb-page-link-type"><a href="{% if data.url != '/' %}{{ data.url }}/instance{% else %}/instance{% endif %}">Properties mode</a></span></li>
<li><span class="fb-page-link-type"><a href="{% if data.url != '/' %}{{ data.url }}/edit{% else %}/edit{% endif %}">Build mode</a></span></li>
{% endif %}
</ul>
{% if data.flowsteps %}
<div class="fb-page-steps">
<h3>Steps</h3>
<ul>
<li><a href="/admin/new/{{ data._id }}/steps/edit">Add step</a></li>
{% if data.flowsteps.length > 1 %}
<li><a href="/admin/instance/{{ data._id }}/steps">Remove/reorder steps</a></li>
{% endif %}
{% if not data.$flowSelf and data.flowsteps.length %}
<li><a href="/admin/flow/{{ data._id }}">View steps flow</a></li>
{% endif %}
</ul>
</div>
{% endif %}
{% if data.$flowStart and data._parent %}
<div class="fb-page-parent"><a href="/admin/flow/{{ data._parent }}">View parent flow</a></div>
{% endif %}
</div>
{% if data.rendered %}
{{ data.rendered | safe }}
{% else %}
{{- callMacro('pageContentHeading', data) -}}
{{- callMacro('pageContentBody', data) -}}
{% endif %}
</div>
{% if data.flowsteps %}
<div class="fb-substeps">
{%- for flowstep in data.flowsteps -%}
{{- callMacro('flowstep', flowstep) -}}
{%- endfor -%}
</div>
{% endif %}
</div>
</div>

{% if data.$stepSkipLast %}</div>{% endif %}
{% if data.$stepOptionLast %}</div>{% endif %}
{%- endmacro -%}