{% extends "page.editable.njk.html" %}

{% block header %}{% endblock %}

{% block content %}
<div class="fb-flow-container">
{{ callMacro('flowstep', page.flowstep) }}
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block bodyEnd %}
{{ super() }}
<style>

html,
body {
  background: #dee0e2 !important;
}

.govuk-width-container {
  margin: 0;
}

.fb-flow-container {
  transform-origin: top left;
  transform: scale(0.375);
  white-space: nowrap;
  vertical-align: top;
}

.fb-step-skip-container {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 100px;
}

.fb-flow-container > .fb-step-container {
  margin: 100px 200px 0 0;
}

.fb-step-option-container,
.fb-step-option-container-inner {
  display: inline-block;
  vertical-align: top;
}

.fb-step-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.fb-step-option {
  display: block;
}

.fb-step-option + .fb-step-option {
  margin-top: 60px;
}

.fb-substeps {
  display: inline-block;
  vertical-align: top;
}
.fb-step-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-left: 200px;
}
.fb-step {
  display: inline-block;
  border: solid 1px #000000;
  width: 1000px;
  position: relative;
  z-index: 1;
  background: #ffffff;
  box-sizing: border-box;
}

.fb-step * {
  white-space: normal;
}

.fb-step:before {
  content: '';
  position: absolute;
  top: 30px;
  left: -20px;
  border: solid 20px transparent;
  border-left-color: #000;

}
.fb-step-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 600px;
  right: 10px;
  height: 50px;
  border: solid 3px #000000;
  border-left: none;
  border-right: none;
  border-top: none;
}
.fb-step-skip-container {
  position: relative;
}
.fb-step-skip-container-line,
.fb-step-skip-container:before {
  content: '';
  position: absolute;
  top: 100px;
  bottom: 20px;
  left: 100px;
  right: -100px;
  border: solid 3px #000000;
  border-top: none;
  border-radius: 0 0 30px 30px;
}
.fb-step-skip-container-first,
.fb-step-skip-container-last,
.fb-step-skip-first:before,
.fb-step-skip-last:before {
  content: '';
  position: absolute;
    top: 50px;
  height: 50px;
  border: solid 3px #000;
  width: 100px;
}

.fb-step-skip-container-first,
.fb-step-skip-first:before {
  left: 1px;
  border-bottom: none;
  border-left: none;
  border-radius: 0 30px 0px 0;
}
.fb-step-skip-container-last,
.fb-step-skip-last:before {
  left: 100%;
  margin-left: 96px;
  border-bottom: none;
  border-right: none;
  border-radius: 30px 0 0 0;
}

.fb-step-option:before,
.fb-step-option-first:before,
.fb-step-option-last:before {
  content: '';
  position: absolute;
  border: solid 3px #000;
  width: 100px;
}
.fb-step-option:not(.fb-step-option-first):before {
  top: 0;
  height: 50px;
  left: 0;
  margin-left: 99px;
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 30px;
}
.fb-step-option-first:before {
  top: 51px;
  bottom: -60px;
  left: 0;
  margin-left: 0;
  border-bottom: none;
  border-left: none;
  border-radius: 0 30px 0px 0;
}

{# .fb-step-option :last-child #}
.fb-step-option-container  .fb-step-container.fb-step-option-first:after {
  top: 51px;
  bottom: -60px;
  height: auto;
  left: auto;
  right: -200px;
  width: 100px;
  border: solid 3px #000;
  border-bottom: none;
  border-right: none;
  border-radius: 30px 0 0 0;
}
.fb-step-option-container .fb-step-container:not(.fb-step-option-first):after {
  right: -101px;
  border-right: solid 3px #000;
  border-radius: 0 0 30px 0;
}

.fb-step-option-container-inner:before,
.fb-step-option-container-inner:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: -60px;
  width: 3px;
  background: #000;
}
.fb-step-option-container-inner:before {
  left: 101px;
}

.fb-step-option-container-inner:after {
  right: -100px;
}

.fb-flow-container > .fb-step-container:after {
  right: 200px;
}
.fb-flow-container .fb-step-container .fb-flow-start.fb-step:before {
  display: none;
}

.fb-step-details {
  position: absolute;
  bottom: 100%;
  margin-bottom: 1rem;
  width: 100%;
}
.fb-step-details h2 {
  margin-bottom: 1rem;
}
.fb-step-details ul.fb-page-links {
  margin: 0;
  padding: 0;
}
.fb-step-details ul.fb-page-links li {
  font-size: 2rem;
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin-right: 2rem;
} 
.fb-page-steps {
  position: absolute;
  right: -1.125rem;
  bottom: 0;
  z-index: 1;
}
.fb-page-steps h3 {
  font-size: 2rem;
  text-align: right;
  margin: 0;
  padding: 0.5rem 1rem 0;
  border: solid 1px transparent;
  border-bottom: none;
  position: relative;
  z-index: 1;
  color: #005ea5;
}
.fb-page-steps:hover h3 {
  background: #fff;
  border-color: #000;
}
.fb-page-steps ul {
  display: none;
  background: #fff;
  position: absolute;
  width: 12rem;
  margin: -3px 0 0 0;
  padding: 0.5rem;
  right: 0;
  border: solid 1px #000;
}
.fb-page-steps:hover ul {
  display: block;
}
.fb-page-steps ul a {
  display: block;
  padding: 0.5rem;
}
.fb-page-steps li {
  list-style-type: none;
  font-size: 1.5rem;
}

/* .fb-step-highlight .fb-substeps .fb-step */
.fb-step-highlight .fb-step {
  outline: solid 6px #fc0;
}

header.govuk-header {
  padding-left: 20px;
  padding-right: 20px;
}
main.govuk-main-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
footer.govuk-footer {
  padding: 0 20px;
}
.govuk-footer__meta-item--grow {
  transform-origin: bottom left;
  transform: scale(0.75);
}
.govuk-footer__copyright-logo {
  transform-origin: bottom right;
  transform: scale(0.5);
}
.govuk-footer__meta-item {
  margin-top: -40px;
}


  {# transform-origin: top left; #}
</style>
{% endblock %}