{% extends "_page.njk.html" %}

{% block header %}{% endblock %}

{% block content %}
<h1>{{ page.heading }}</h1>
<div class="fb-flow-wrapper">
{% for flowstep in page.flowsteps %}
<div class="fb-flow-container">
{{ callMacro('flowstep', flowstep) }}
</div>
{% endfor %}
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block bodyEnd %}
{{ super() }}
{% set gutter = 600 %}
{% set gutterRuleOffset = 100 %}
<style>

html,
body {
  background: #fff !important;
}

.fb-editor-header--wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.fb-editor-header--wrapper + .govuk-width-container {
  margin: 6rem 0 0;
}

.govuk-skip-link + .govuk-width-container {
  margin: 3rem 0 0;
}

.fb-flow-wrapper {
  margin-left: -150px;
  transform-origin: top left;
  transform: scale(0.375);
  white-space: nowrap;
  vertical-align: top;
}

.fb-flow-container + .fb-flow-container {
  margin-top: 20rem;
}

.fb-step-skip-container {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 100px;
}

.fb-flow-container > .fb-step-container {
  margin: 100px 200px 0 0;
}

.fb-step-option-container,
.fb-step-option-container-inner {
  display: inline-block;
  vertical-align: top;
}

.fb-step-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2;
}

.fb-step-show-conditions {
  position: absolute;
  left: 150px;
  background: #fcfcfc;
  border: solid 1px #000;
  width: 300px;
  padding: 70px 30px 30px;
  box-sizing: border-box;
  white-space: pre-wrap;
  z-index: 100;
  top: 22px;
  font-size: 28px;
  border-radius: 20px;
}
.fb-substeps-show-conditions {
  background: #ffee99;
}
.fb-substeps-show-conditions:before {
  content: 'Steps condition';
  position: absolute;
  top: 15px;
  font-size: 1.25rem;
}

.fb-step-show-conditions b {
  display: block;
}

.fb-step-show-conditions > .fb-conditions {
  margin-top: -20px;
}

.fb-conditions-delimiter {
  display: block;
  font-size: 20px;
  margin: 10px 0;
}

.fb-step-show-value,
.fb-step-show-value-not-met {
  position: absolute;
  font-size: 32px;
  z-index: 1000;
}
.fb-step-show-value {
  left: 500px;
}
.fb-step-show-value-not-met {
  bottom: -100px;
  right: 100%;
  margin-right: -480px;
}
.fb-substeps-show-value-not-met {
  bottom: 0;
}
.fb-step-show-value span,
.fb-step-show-value-not-met span {
  border: solid 1px #000;
  padding: 3px 10px;
  background-color: #fec;
  border-radius: 10px;
}
.fb-step-show-value-not-met span:empty {
  display: none;
}
{# .Xfb-step-option:not(.fb-step-option-first) > .fb-step-wrapper > , #}
.fb-step-show-value span {
  position: absolute;
  right: 100%;
  top: 22px;
  margin-right: 20px;
}
ul.fb-conditions-list {
  margin-left: 0;
  padding-left: 24px;
}
.fb-conditions .fb-conditions {
  background: #eee;
  padding: 10px;
}

.fb-step-option {
  display: block;
}

.fb-step-option + .fb-step-option {
  margin-top: 260px;
}

.fb-substeps {
  display: inline-block;
  vertical-align: top;
}

.fb-substeps-skip {
  padding-bottom: 100px;
  position: relative;
}

.fb-substeps-skip:before {
    bottom: 0;
    border: solid 3px #000;
    content: '';
    position: absolute;
    left: 500px;
    top: 100px;
    right: -100px;
    border-top: 0;
    border-radius: 0 0 30px 30px;
}

.fb-substeps.fb-substeps-skip-with-following-condition {
    padding-left: 450px;
}

.fb-step-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-left: {{ gutter }}px;
}
.fb-step {
  display: inline-block;
  border: solid 1px #000000;
  width: 1000px;
  position: relative;
  z-index: 1;
  background: #ffffff;
  box-sizing: border-box;
}

.fb-step * {
  white-space: normal;
}

.fb-step:before {
  content: '';
  position: absolute;
  top: 30px;
  left: -20px;
  border: solid 20px transparent;
  border-left-color: #000;

}
.fb-step-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 600px;
  right: 10px;
  height: 50px;
  border: solid 3px #000;
  border-left: none;
  border-right: none;
  border-top: none;
}
.fb-flow-exit-container:after {
  border-color: #fff !important;
  right: -114px;
  top: -1px;
  border-width: 5px;
}
.fb-step-skip-container {
  position: relative;
  z-index: 1;
}
.fb-step-skip-container-line,
.fb-step-skip-container:before {
  content: '';
  position: absolute;
  top: 100px;
  bottom: 20px;
  left: {{ gutter - gutterRuleOffset }}px;
  right: -100px;
  border: solid 3px #000000;
  border-top: none;
  border-radius: 0 0 30px 30px;
}

.fb-substeps-skip-container-first,
.fb-substeps-skip-container-last,
.fb-step-skip-container-last,
.fb-step-skip-container-first,
.fb-step-skip-container-last,
.fb-step-skip-first:before,
.fb-step-skip-last:before {
  content: '';
  position: absolute;
  top: 50px;
  height: 50px;
  border: solid 3px #000;
  width: 100px;
}

.fb-substeps-skip-container-first {
  left: 400px;
  border-radius: 0 30px 0 0;
  border-left: none;
  border-bottom: none;
}

.fb-substeps-skip-container-last {
  right: -155px;
  width: 55px;
  border-radius: 30px 0 0 0;
  border-right: none;
  border-bottom: none;
}

.fb-step-skip-container-first,
.fb-step-skip-first:before {
  left: {{ (gutter - gutterRuleOffset) - 100 }}px;
  border-bottom: none;
  border-left: none;
  border-radius: 0 30px 0px 0;
}
.fb-step-skip-container-last,
.fb-step-skip-last:before {
  left: 100%;
  margin-left: 96px;
  border-bottom: none;
  border-right: none;
  border-radius: 30px 0 0 0;
}

.fb-step-option:before,
.fb-step-option-first:before,
.fb-step-option-last:before {
  content: '';
  position: absolute;
  border: solid 3px #000;
  width: 100px;
}
.fb-step-option:not(.fb-step-option-first):before {
  top: 0;
  height: 50px;
  left: 0;
  margin-left: {{ (gutter - gutterRuleOffset) - 1 }}px;
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 30px;
}
.fb-step-option-first:before {
  top: 51px;
  bottom: -260px;
  left: {{ (gutter - gutterRuleOffset) - 100  }}px;
  margin-left: 0;
  border-bottom: none;
  border-left: none;
  border-radius: 0 30px 0px 0;
}

{# .fb-step-option :last-child #}
.fb-step-option-container  .fb-step-container.fb-step-option-first:after {
  top: 51px;
  bottom: -260px;
  height: auto;
  left: auto;
  right: -{{ gutterRuleOffset + 100 }}px;
  width: 100px;
  border: solid 3px #000;
  border-bottom: none;
  border-right: none;
  border-radius: 30px 0 0 0;
}
.fb-step-option-container .fb-step-container:not(.fb-step-option-first):after {
  right: -{{ gutterRuleOffset }}px;
  border-right: solid 3px #000;
  border-radius: 0 0 30px 0;
}

.fb-step-option-container-inner:before,
.fb-step-option-container-inner:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: -260px;
  width: 3px;
  background: #000;
}
.fb-step-option-container-inner:before {
  left: {{ (gutter - gutterRuleOffset) + 1 }}px;
}

.fb-step-option-container-inner:after {
  right: -{{ gutterRuleOffset }}px;
}

.fb-flow-container > .fb-step-container:after {
  right: 200px;
}
.fb-flow-container .fb-step-container .fb-flow-start.fb-step:before {
  display: none;
}

.fb-step-details {
  position: absolute;
  bottom: 100%;
  margin-bottom: 2rem;
  width: 100%;
}
.fb-step-details h2 {
  margin-bottom: 1rem;
}
.fb-step-details ul.fb-page-links {
  margin: 0;
  padding: 0;
}
.fb-step-details ul.fb-page-links li {
  font-size: 3rem;
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin-right: 2rem;
} 
.fb-page-parent {
  position: absolute;
  right: 8rem;
  bottom: -0.25rem;
  font-size: 1.5rem;
}
.fb-page-steps {
  position: absolute;
  right: -1.125rem;
  bottom: 0;
  z-index: 1;
}
.fb-page-steps h3 {
  font-size: 3rem;
  text-align: right;
  margin: 0;
  padding: 1rem 1rem 0;
  border: solid 1px transparent;
  border-bottom: none;
  position: relative;
  z-index: 1;
  color: #005ea5;
}
.fb-page-steps:hover h3 {
  background: #fff;
  border-color: #000;
}
.fb-page-steps ul {
  display: none;
  background: #fff;
  position: absolute;
  width: 27rem;
  margin: -3px 0 0 0;
  padding: 0.5rem;
  right: 0;
  border: solid 1px #000;
}
.fb-page-steps:hover ul {
  display: block;
}
.fb-page-steps ul a {
  display: block;
  padding: 0.5rem;
}
.fb-step-details .fb-page-steps li {
  list-style-type: none;
  font-size: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.fb-step-highlight .fb-step {
  outline: solid 6px #fc0;
}
.fb-step-highlight .fb-substeps .fb-step {
  background-color: #fc0;
}

.fb-page-url {
  position: absolute;
  font-size: 2rem;
  bottom: 100%;
  margin-bottom: 6rem;
}
.fb-page-url a {
  color: #005ea5;
}
.fb-page-url a:hover {
  color: #2b8cc4;
}
.fb-page-url--label {
  font-weight: bold;
  xpadding-right: 0.5rem;
}
header.govuk-header {
  padding-left: 20px;
  padding-right: 20px;
}
main.govuk-main-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
footer.govuk-footer {
  padding: 0 20px;
}
.govuk-footer__meta-item--grow {
  transform-origin: bottom left;
  transform: scale(0.75);
}
.govuk-footer__copyright-logo {
  transform-origin: bottom right;
  transform: scale(0.5);
}
.govuk-footer__meta-item {
  margin-top: -40px;
}

#minimapContainer {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3rem;
  padding: 1rem 0 1rem 5rem;
  background: #005ea5;
  background: #ccc;
}

#minimapContainer .govuk-main-wrapper {
  position: relative;
  z-index: 1001;
  transform-origin: top left;
  transform: scale(0.05);
}

#minimapLocation {
  position: absolute;
  background: rgba(43,140,196, 1);
  background: #dee0e2;
  top: 0.5rem;
  padding: 0.5rem 0 0.25rem;
}
  {# transform-origin: top left; #}
</style>
<script>
const stepsPanels = document.querySelectorAll('.fb-page-steps')
for (let index = 0; index < stepsPanels.length; ++index) {
  const stepPanel = stepsPanels[index]
  let stepParent = stepPanel.parentNode
  while (!stepParent.classList.contains('fb-step-wrapper')) {
    stepParent = stepParent.parentNode
  }
  stepPanel.addEventListener('mouseover', () => {
    stepParent.classList.add('fb-step-highlight')
  })
  stepPanel.addEventListener('mouseout', () => {
    stepParent.classList.remove('fb-step-highlight')
  })
}
const main = document.querySelector('.govuk-main-wrapper')
var minimap = main.cloneNode(true)
{# [].forEach.call(minimap.getElementsByTagName('a'), function(link) {
  link.href = 'javascript:;'
}); #}
const minimapContainer = document.createElement('div')
minimapContainer.id = 'minimapContainer'
const minimapLocation = document.createElement('div')
minimapLocation.id = 'minimapLocation'

minimapContainer.appendChild(minimap)
minimapContainer.appendChild(minimapLocation)
document.body.appendChild(minimapContainer)

const scale = 0.05
const flowScale = 0.375


main.style.maxHeight = main.scrollHeight * flowScale + 'px'

const windowWidth = document.documentElement.clientWidth
const windowHeight = document.documentElement.clientHeight
const mainScrollWidth = main.scrollWidth
const minimapWidth = minimap.offsetWidth
const ratio = windowWidth/mainScrollWidth
const mapWidth = minimap.scrollWidth * scale * ratio
minimapLocation.style.width = mapWidth + 'px'
{# minimapLocationHeight = main.scrollHeight * flowScale * ratio #}
minimapLocationHeight = document.documentElement.scrollHeight * scale
minimapLocation.style.height = minimapLocationHeight + 'px'
minimapContainer.style.height = minimapLocationHeight + 'px'

main.style.maxHeight = parseInt(main.style.maxHeight, 10) + minimapLocationHeight + 'px'


const updateMinimapLocation = () => {
  const val = document.documentElement.scrollLeft
  let locationVal = val * scale
  minimapLocation.style.marginLeft = locationVal + 'px'
}
minimap.onclick = function(e) {
  const minimapLeft = minimap.offsetLeft
  const minimapWidth = minimap.offsetWidth

  let val = (1/scale) * (e.clientX - minimapLeft) - 200 //innerWidth/2
  if (val < 0) {
    val = 0
  }
  document.documentElement.scrollLeft = val
  updateMinimapLocation()
}
window.onscroll = updateMinimapLocation
</script>
{% endblock %}