{% extends "page.njk.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: '/admin',
    productName: 'Admin',
    XserviceName: 'Service Name',
    XserviceUrl: '/',
    XcontainerClasses: 'monkey'
    })
  }}
{% endblock %}

{% block content %}
<div class="admin-content">
{{ super() }}
</div>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<style type="text/css">
.admin-content .govuk-grid-column-two-thirds {
  width: 100%;
}

[data-block-id="admin.instance--header"].fb-group {
  margin: -2rem 0 2rem;
}

[data-block-id="admin.instance--header"].fb-group p {
  font-size: 16px;
  margin: 0;
}

[data-block-id="admin.instance--navigation"] {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  margin: 10px 0 20px;
}

[data-block-id="admin.instance--navigation"] p:first-child a {
	padding-left: 2rem;
}

[data-block-id="admin.instance--navigation"] p:last-child {
	text-align: right;
	padding-right: 2rem;
}

[data-block-id="admin.instance--navigation"] p a::before,
[data-block-id="admin.instance--navigation"] p a::after  {
  position: absolute;
	color: #005ea5;
  font-size: 60px;
  text-decoration: none;
}

[data-block-id="admin.instance--navigation"] p:hover a::before,
[data-block-id="admin.instance--navigation"] p:hover a::after  {
	color: #2b8cc4;
}

[data-block-id="admin.instance--navigation"] p:first-child a::before{
	content: '‹';
  left: 0;
}
[data-block-id="admin.instance--navigation"] p:last-child a::after{
	content: '›';
  right: 0;
}
[data-block-id="admin.instance--navigation"] em {
  position: absolute;
  left: -9999px;
}

a[href="/dev/null"] {
  display: none !important;
}

[data-block-id="admin.instance--url"] ul {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
[data-block-id="admin.instance--url"] li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 2rem 0 0;
}

[data-block-id="admin.instance--properties"] li {
  font-size: 14px;
}
[data-block-id="admin.instance--properties"] li a:first-child {
  font-size: 19px;
}

p.fb-property--title {
  margin: 0;
}
p.fb-property--title em {
  font-size: 0.75rem;
}
p.fb-property--value {
  font-size: 14px;
  margin: 0;
}
.fb-property-items {
  font-size: 0.75rem;
  margin-left: 0;
  padding-left: 0;
  line-height: 1.75
}
.fb-property-item {
  display: inline-block;
  padding-right: 0.375rem;
}
.fb-property-item a {
  text-decoration: none;
}
.fb-property-item a:hover {
  text-decoration: underline;
}
.fb-property-item:not(:last-child):after {
  content: ', ';
}
.fb-property-item:nth-child{

}
p.fb-property-items-add {
  font-size: 0.75rem;
  margin-top: 0;
}

.govuk-details .govuk-list {
  margin-bottom: 0;
}
.govuk-details .govuk-details {
  margin: 5px 0 10px;
}
.govuk-details .govuk-details .govuk-details__text {
  margin-top: -10px;
}
.admin-content .govuk-details .govuk-details__text {
  padding-top: 0;
  padding-bottom: 0;
}

.govuk-button p {
  margin: 0;
}
.govuk-button.fb-action-secondary {
  background: transparent;
  color: 	#005ea5;
  box-shadow: none;
  padding-left: 0;
  border-left: none;
}
.fb-action-secondary:hover {
  background: transparent;
  color: 	#2b8cc4;
}
</style>

<script src="/assets/autosize.js"></script>
<script type="text/javascript">
const $textareas = document.querySelectorAll('textarea')
if ($textareas.length) {
  autosize($textareas)
  setInterval(function () {
    autosize.update($textareas)
  }, 100)
}
</script>
<script>
(function () {
  const detailsState = JSON.parse(localStorage.getItem('fbDetailsState') || '{}')
  const location = window.location.href
  detailsState[location] = detailsState[location] || {}
      console.log({detailsState})
  const detailsLocationState = detailsState[location]
  if (Object.keys(detailsLocationState).length) {
    Object.keys(detailsLocationState).forEach(dataBlockId => {
      const details = document.querySelector(`[data-block-id="${dataBlockId}"]`)
      if (details) {
        details.open = detailsLocationState[dataBlockId]
      }
    })
  }
  const detailsList = [].slice.call(document.querySelectorAll('details'))
  detailsList.forEach(details => {
    details.addEventListener('click', function(e) {
      e.stopPropagation()
      const target = e.target
      if (!target.className.match(/govuk-details__summary/)) {
        return
      }
      const dataBlockId = this.getAttribute('data-block-id')
      if (!dataBlockId) {
        return
      }
      const newState = !this.open
      detailsLocationState[dataBlockId] = newState
      localStorage.setItem('fbDetailsState', JSON.stringify(detailsState))
    })
  })
})()
</script>
{% endblock %}

{% block pageContentAction %}{% endblock %}