{% extends "admin-page.property.njk.html" %}

{% block bodyEnd %}
{{ super() }}

<style>
.booleanConditionalOptions {
  margin-bottom: 1rem;
}
.condition-individual {
  background: #fff;
  position: relative;
}
.conditions-block .condition-individual {
  padding: 1rem;
}
.fb-action-secondary:hover {
  text-decoration: underline;
}

.fb-action--add-condition {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.fb-action--remove-condition {
  font-size: 75%;
  margin: 0;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  visibility: hidden;
}

{# 
@media (min-width: 40.0625em) {
  #conditions {
    width: 66%;
  }
} #}


#conditions .fb-action--revert-conditions,
#conditions .fb-action--convert-condition {
  font-size: 75%;
  margin: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  visibility: hidden;
}
#conditions .conditions-block:hover > .fb-action--revert-conditions,
#conditions .condition-individual:hover > .fb-action-secondary {
  visibility: visible;
}
#conditions > div > .fb-action--revert-conditions,
#conditions > div .fb-action--convert-condition {
  top: -0.25rem;
}

.fb-action-secondary:active {
  margin-top: 2px;
}
.conditions-block {
  background: #eee;
  padding: 1rem 1rem 0.25rem 1rem;
  position: relative;
}
.conditions-block .conditions-block {
  background: #ddd;
}
.conditions-block .conditions-block .conditions-block {
  background: #ccc;
}

.conditions-delimiter {
  margin: 1rem 0;
}

#conditionsToggle {
  text-align: right;
}
#conditionsToggle .fb-action-secondary {
  font-size: 75%;
}
</style>
<script>

//(() => {

  const booleanConditional = document.querySelector('.booleanConditionalOptions')
  if (!booleanConditional) {
    //return
  }
  let allowableOperators
  let allowableIdentifiers

  const getOperator = (operatorName) => {
    return allowableOperators.filter(operator => operator.operator === operatorName)[0] || {}
  }
  const getOperatorProperty = (operatorName, property) => getOperator(operatorName)[property]
  const getIdentifier = (identifierName) => {
    return allowableIdentifiers.filter(identifier => identifier.name === identifierName)[0] || {}
  }
  const getIdentifierProperty = (identifierName, property) => getIdentifier(identifierName)[property]

  const createSelect = (name, values, selectedValue) => {
    let selectElement = `<select name="${name}" class="govuk-select" style="width:auto; min-width: 10rem; max-width:100%; display:block;margin-bottom: 0.5rem;"><option value=""></option>`
    values.forEach(item => {
      selectElement += `<option value="${item.value}"${ selectedValue === item.value ? ' selected' : ''}>${item.label}</option>`
    })
    selectElement += '<select>'
    return selectElement
  }

  const createIdentifier = (condition, conditionId) => {
    const {identifier} = condition
    const values = allowableIdentifiers.map(item => {
      return {
        value: item.name,
        label: item.fullTitle // + ' (' + item.name + ')'
      }
    })
    let identifierElement = createSelect(`identifier===${conditionId}`, values, identifier)
    return identifierElement
  }

  const asIsOperators = [
    'boolean',
    'date',
    'number'
  ]
  const createOperator = (condition, conditionId) => {
    let {identifier, operator, type, negated, enums} = condition
    if (!identifier) {
      return ''
    }
    if (negated) {
      operator = `!${operator}`
    }
    type = getIdentifierProperty(identifier, 'type')
    if (!asIsOperators.includes(type)) {
      type = 'string'
    }
    const operators = allowableOperators.filter(operator => {
      if (!operator.type) {
        return true
      }
      let enumsMatch = true
      if (enums) {
        // enumsMatch = operator.operator === 'is' || operator.operator === 'equals' || operator.operator === 'defined'
      }
      let typeMatch = operator.type === 'any' || operator.type === type
      return typeMatch && enumsMatch
    })
    let operatorElement = createSelect(`operator===${conditionId}`, operators, operator)
    return operatorElement
  }

  const createValue = (condition, conditionId) => {
    let {identifier, operator, value, enums} = condition
    if (!operator || operator === 'defined' || operator === 'isTrue') {
      return ''
    }
    let valueElement
    let valueName = `value===${conditionId}`
    if (enums && (operator === 'is' || operator === 'equals' || operator === 'defined')) {
      valueElement = createSelect(valueName, enums, value)
    } else {
      valueElement = `<input type="text" name="${valueName}" value="${value === undefined ? '' : value}" class="govuk-input" style="width:10em;">`
    }
    return valueElement
  }

  const createAnswer = (condition) => {
    const {identifier} = condition
    let answerElement = identifier && identifier.endsWith('[*]') ? 'any answer for' : 'the answer for'
    return answerElement
  }

  const conditionsLabel = {
    all: 'all these conditions are met',
    any: 'at least one of these conditons is met',
    exactly: 'one of these conditions is met'
  }
  const conditionsDelimiter = {
    all: 'and',
    any: 'and/or',
    exactly: 'or'
  }
  const conditionsType = Object.keys(conditionsLabel)

  const createConditionsType = (currentType, conditionId) => {
    let conditionsTypeName = `conditionsType===${conditionId}`
    let enums = conditionsType.map(conditionType => {
      return {
        label: conditionsLabel[conditionType],
        value: conditionType
      }
    })
    let valueElement = createSelect(conditionsTypeName, enums, currentType)
    return valueElement
  }
  const createConditions = (conditions, conditionId = '', type) => {
    let conditionsId = conditionId + '.' + type
    let conditionIdCounter = 0
    const conditionParts = conditions.map(condition => {
      const newConditionId = `${conditionsId}[${conditionIdCounter}]`
      conditionIdCounter++
      const noDelete = conditions.length === 1
      return createCondition(condition, newConditionId, noDelete)
    })
    const conditionsRevert = conditions.length === 1 ? '<p class="govuk-button fb-action-secondary fb-action--revert-conditions condition-action condition-revert" data-destination="' + conditionsId + '" data-action="revert">Convert to single condition</p>' : ''
    const conditionsType = createConditionsType(type, conditionId)
    const addCondition = '<p class="govuk-button fb-action-secondary fb-action--add fb-action--add-condition conditionsAdd" data-action="add" data-destination="' + conditionsId + '">Add condition</p>'
    return '<div class="conditions-block" >' + conditionsType + conditionsRevert + '<div class="conditions-subconditions">' + conditionParts.join('<p class="conditions-delimiter">' + conditionsDelimiter[type] + '</p>') + addCondition + '</div></div>'
  }

  let valueControl
  const createCondition = (condition, conditionId = '', noDelete) => {
    if (typeof condition !== 'object') {
      valueControl.style.display = 'none'
      return ''
    }
    condition = JSON.parse(JSON.stringify(condition))
    const {all, any, exactly} = condition
    if (all) {
      return createConditions(all, conditionId, 'all')
    }
    if (any) {
      return createConditions(any, conditionId, 'any')
    }
    if (exactly) {
      return createConditions(exactly, conditionId, 'exactly')
    }
    //console.log('conditionId', conditionId)
    const {identifier, operator, value, negated} = condition
    const enums = allowableIdentifiers.filter(item => item.name === identifier).map(item => item.enums)[0]
    condition.enums = enums
    let conditionRemove = ''
    if (conditionId !== '' && !noDelete) {
      conditionRemove = '<p class="govuk-button fb-action-secondary fb-action--remove-condition condition-action condition-remove" data-destination="' + conditionId + '" data-action="remove">Delete</p>'
    }
    let conditionConvert = '<p class="govuk-button fb-action-secondary fb-action--convert-condition condition-action condition-convert" data-destination="' + (conditionId ? conditionId : 'TOP') + '" data-action="convert">Convert to multiple conditions</p>'
    if (identifier !== 'undefined') {
      return `<div class="condition-individual">${createAnswer(condition)} ${createIdentifier(condition, conditionId)} ${createOperator(condition, conditionId)} ${createValue(condition, conditionId)}${conditionRemove}${conditionConvert}</div>`
    } else {
      
    }
  }

  // const valueGroup = document.querySelector('[data-block-id="admin.instance.property--value"]')
  // valueGroup.classList.add('js-hidden')

  booleanConditional.insertAdjacentHTML('afterend', '<div id="conditions"></div><p id="conditionsToggle"><span class="govuk-button fb-action-secondary"></span></p>')

  const conditionContainer = document.querySelector('#conditions')
  const conditionsToggler = document.querySelector('#conditionsToggle .fb-action-secondary')

  let jsonMode = false
  let uiImpossible = false

  const updateConditions = (condition) => {
    const renderedCondition = createCondition(condition)
    if (renderedCondition !== undefined) {
      uiImpossible = false
      conditionContainer.innerHTML = renderedCondition
      showJSONMode(jsonMode)
    } else {
      uiImpossible = true
      showJSONMode(true)
    }
  }
  const showJSONMode = (showJSON) => {
    jsonMode = !!showJSON
    let uiDisplay = ''
    let jsonDisplay = 'none'
    let toggleLabel = 'Edit JSON'
    if (showJSON) {
      uiDisplay = 'none'
      jsonDisplay = ''
      toggleLabel = 'Edit with UI'
    }
    if (uiImpossible) {
      toggleLabel = 'Cannot show JSON structure through UI'
    }
    conditionContainer.style.display = uiDisplay
    valueControl.style.display = jsonDisplay
    conditionsToggler.innerHTML = toggleLabel
  }
  conditionsToggler.addEventListener('click', () => {
    if (uiImpossible) {
      return
    }
    showJSONMode(!jsonMode)
  })

  conditionContainer.addEventListener('click', function(e) {
    const target = e.target
    let targetDestination = target.getAttribute('data-destination')
    if (!targetDestination) {
      return
    }
    let targetAction = target.getAttribute('data-action')
    if (targetAction === 'add') {
      let destination = getValueDestination(targetDestination)
      destination.push({})
    } else if (targetAction === 'remove') {
      let targetIndex
      targetDestination = targetDestination.replace(/\[(\d+)\]$/, (m, m1) => {
        targetIndex = m1
        return ''
      })
      let destination = getValueDestination(targetDestination)
      destination.splice(targetIndex, 1)
    } else if (targetAction === 'convert') {
      if (targetDestination === 'TOP') {
        targetDestination = ''
      }
      let destination = getValueDestination(targetDestination)
      let destinationValue = JSON.parse(JSON.stringify(destination))
      Object.keys(destination).forEach(key => {
        delete destination[key]
      })
      destination.all = [destinationValue]
    } else if (targetAction === 'revert') {
      let destinationValue = getValueDestination(targetDestination)
      let destination = getValueDestination(targetDestination.replace(/\.[^.]+$/, ''))
      Object.keys(destination).forEach(key => {
        delete destination[key]
      })
      Object.keys(destinationValue).forEach(key => {
        destination[key] = destinationValue[key]
      })
    } 
    updateConditions(value)
  })
  conditionContainer.addEventListener('change', function(e) {
    const target = e.target
    let targetValue = target.value
    let [name, destination] = target.name.split('===')
    destination = destination || ''
    let valueDestination = getValueDestination(destination)
    if (name === 'identifier') {
      delete valueDestination.operator
      delete valueDestination.value
    } else if (name === 'operator') {
      if (targetValue.startsWith('!')) {
        targetValue = targetValue.substr(1)
        valueDestination.negated = true
      } else {
        delete valueDestination.negated
      }
      if (targetValue === 'defined' || targetValue === 'isTrue') {
        delete valueDestination.value
      }
    } else if (name === 'conditionsType') {
      let currentValue = []
      conditionsType.forEach(type => {
        if (valueDestination[type]) {
          currentValue = valueDestination[type]
          delete valueDestination[type]
        }
      })
      valueDestination[targetValue] = currentValue
    }
    if (name === 'value' && targetValue !== '') {
      let valueType = getOperatorProperty(value.operator, 'type')
      //allowableOperators.filter(operator => operator.operator === value.operator)[0].type
      if (valueType === 'number') {
        let numberValue = Number(targetValue)
        if (!isNaN(numberValue)) {
          targetValue = numberValue
        }
      }
    }
    valueDestination[name] = targetValue
    updateValueControl('condition')
    updateConditions(value)
  })

  const formElements = document.forms[0].elements

  allowableIdentifiers = JSON.parse(unescape(formElements.booleanConditional.value))

  const allowableOperatorsIn = JSON.parse(unescape(formElements.allowableOperators.value))
  allowableOperators = []
  Object.keys(allowableOperatorsIn).forEach(key => {
    const operatorValues = allowableOperatorsIn[key]
    const type = operatorValues.type
    allowableOperators.push({
      operator: key,
      type,
      value: key,
      label: operatorValues.yes
    })
    allowableOperators.push({
      operator: key,
      type,
      value: `!${key}`,
      label: operatorValues.no
    })
  })

  valueControl = formElements.value
  valueControl.addEventListener('change', () => {
    value = JSON.parse(valueControl.value)
    updateConditions(value)
  })


  conditionContainer.parentNode.insertBefore(valueControl, conditionContainer.nextSibling)

  let value = valueControl.value ? JSON.parse(valueControl.value) : valueControl.value

  const getValueDestination = (destination) => {
    let valueDestination
    eval(`valueDestination = value${destination}`)
    return valueDestination
  }

  const updateValueControl = (input) => {
    if (input === 'condition') {
      value = value || {identifier: '', operator: ''}
      input = JSON.stringify(value, null, 2)
    } else {
      value = undefined
    }
    valueControl.value = input
  }

  const booleanConditionalNodeList = formElements.booleanConditionalOptions
  
  let typeValue = typeof value === 'boolean' ? value.toString() : 'condition'
  if (typeof value === 'boolean') {
    value = undefined
  }

  booleanConditionalNodeList.value = typeValue

  booleanConditional.classList.remove('js-hidden')

  for (let index = 0; index < 3; index++) {
    booleanConditionalNodeList.item(index).addEventListener('change', function() {
      updateValueControl(this.value)
      updateConditions(value)
    })
  }

  if (typeof value === 'object') {
    updateConditions(value)
  } else {
    valueControl.style.display = 'none'
  }
//})()

</script>

{% endblock %}