{% extends "_base.njk.html" %}

{% macro navLink(content, type, typeLink, pageLink, mode) %}
{% set linkify = mode != type %}
<li class="fb-navigation-mode fb-navigation-{{ type }}{% if not linkify %} fb-navigation-current{% endif %}">{% if linkify %}<a href="{{ pageLink }}{% if typeLink or not pageLink %}/{% endif %}{{ typeLink }}">{% endif %}{{ content }}{% if linkify %}</a>{% endif %}</li>
{% endmacro %}

{% block skipLink %}
<div class="fb-navigation govuk-body-m">
<ul class="govuk-width-container">
<li class="fb-navigation-dashboard"><a href="/admin">Dashboard</a></li>
<li class="fb-navigation-flow"><a href="/flow">Page flow</a></li>

{% if page.MODEURL %}
{% set MODEURL = page.MODEURL %}
{% if MODEURL == '/' %}
{% set MODEURL = '' %}
{% endif %}
<li class="modes"><ul>
{{ navLink('Live view', 'live', '', MODEURL, page.MODE) }}
{{ navLink('Preview mode', 'preview', 'preview', MODEURL, page.MODE) }}
{% if not page.$autoInjected %}
{{ navLink('Wysiwyg mode', 'edit', 'edit', MODEURL, page.MODE) }}
{{ navLink('Instance mode', 'instance', 'instance', MODEURL, page.MODE) }}
{% else %}
{# <li>Auto-injected page for {{page._repeatableId }}</li> #}
{% endif %}
</ul></li>

{% endif %}
</ul>
</div>
{{ super() }}
{% endblock %}

{% block header %}
{% if page.preview.next or page.preview.previous  %}
<div class="PreviewSummary-container">
<div class="PreviewSummary govuk-width-container govuk-body-m" role="group" aria-labelledby="preview-summary-heading" tabindex="-1">
<div class="PreviewSummary__links">
{% if page.preview.previous %}
<p class="fb-preview-previous"><a href="{{ page.preview.previous.url }}"><span class="fb-preview-direction">Previous page</span> {{ page.preview.previous.title | safe }}</a></p>
{% endif %}
{% if page.preview.next %}
<p class="fb-preview-next"><a href="{{ page.preview.next.url }}"><span class="fb-preview-direction">Next page</span> {{ page.preview.next.title | safe }}</a></p>
{% endif %}
</div>
</div>
</div>
{% endif %}

{{ super() }}

{% endblock %}

{% block bodyStart %}
{# Stuff to appear before body #}
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<style>
@media (max-width: 1020px) {
  .govuk-width-container {
    margin: 0 50px;
  }
}

.fb-navigation {
  background: #005ea5;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
}
.fb-navigation ul {
  padding: 0;
}
.fb-navigation li {
  list-style-type: none;
}
.fb-navigation a {
  color: #fff;
}
.fb-navigation-current {
  color: #fff;
  font-weight: bold;
  font-size: 125%;
}

@media (min-width: 40.0625em) {
  .fb-navigation li {
    display: inline-block;
    margin-right: 2rem;
  }
  li.modes {
    float: right;
    margin-right: 0;
  }
  li.fb-navigation-mode {
    xfloat: right;
    margin-right: 0;
    margin-left: 2rem;
  }
  .fb-navigation-current {
    margin-top: -0.25rem;
  }
}
</style>
<style>
.PreviewSummary-container {
  background-color: rgba(43,140,196, 0.375);
}
.PreviewSummary{
  padding: 0.5rem 0;
}
.govuk-prose-scope .PreviewSummary__heading{
  font-weight: bold;
  font-size: 0.75rem;
  margin:0 0 0.5rem;
}
.PreviewSummary__links span {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
}

.PreviewSummary__links .fb-preview-previous::before {
  content:'‹';
}
.PreviewSummary__links .fb-preview-next::before {
  content: '›';
}
.PreviewSummary__links {
  margin: 0;
}
.PreviewSummary__links p {
  margin: 0;
  font-size: 1rem;
}
.PreviewSummary__links p::before {
  color: #2b8cc4;
  font-size: 2rem;
  position: relative;
  top: 0.25rem;
  line-height: 0.5;
}
@media (min-width: 40.0625em) {
  .PreviewSummary__links {
    width: 100%;
    overflow: hidden;
  }
  .PreviewSummary__links p {
    float: left;
    width: 50%;
    position: relative;
  }
  .PreviewSummary__links a {
    padding-left: 2rem;
    position: relative;
    z-index: 1;
    color: #000;
  }
  .PreviewSummary__links p.fb-preview-next {
    float: right;
    text-align: right;
  }
  .PreviewSummary__links .fb-preview-next a {
    padding: 0 2rem 0 0;
  }
  .PreviewSummary__links p::before {
    color: #2b8cc4;
    font-size: 4rem;
    position: absolute;
    top: 0;
    line-height: 0.325;
  }
  .PreviewSummary__links .fb-preview-previous::before {
    left: 0;
  }
  .PreviewSummary__links .fb-preview-next {
    float: right;
  }
  .PreviewSummary__links .fb-preview-next::before {
    right: 0;
  }
}
</style>
{% endblock %}
