{% extends "_page.njk.html" %}

{% block bodyEnd %}
{{ super() }}

<style>
.govuk-grid-column-two-thirds {
  position: relative;
}

/* [data-block-id] */
main.govuk-main-wrapper {
  position: relative;
}

.fb-hover {
  background-color: #fc9;
  background-color: rgba(255, 204, 153, 0.25);
  background-color: rgba(44, 141, 191, 0.125);
}

.fb-block {
  position: relative;
}

.fb-block-edit-container {
  position: absolute;
  margin-left: -2.5rem;
  margin-top: -0.25rem;
  width: 4rem;
  height: 4rem;
  z-index: 99999999;
}

.govuk-inset-text .fb-block-edit-container {
  margin-left: -4rem;
}
.govuk-warning-text .fb-block-edit-container {
  margin-top: -1rem;
  top: 50%;
}

.govuk-fieldset,
.fb-block-radios,
.fb-block-checkboxes,
.fb-block-date,
.fb-block-select {
  XXposition: relative;
}
.govuk-form-group {
  XXposition: relative;
}
.fb-block-instance-properties {
  position: absolute;
  margin-top: 0.25rem;
  z-index: 99999999;
  margin-left: 0;
  right: -1.5rem;
  background: #fff;
}
.fb-block-instance-properties:hover {
  z-index: 999999999;
}
.fb-block-instance-properties-heading {
  position: absolute;
  top: 0rem;
  right: -1rem;
}
.fb-mode-edit .fb-block-instance-properties ul {
  margin: 0;
  padding: 0;
  display: none;
  border: solid 1px #005ea5;
}
.fb-block-instance-properties:hover ul {
  display: block;
}
.fb-mode-edit .fb-block-instance-properties li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  padding-right: 1rem;
  background: #fff;
  line-height: 1.375;
}
.fb-block-instance-properties li.fb-block-instance--delete {
  margin-top: 1rem;
}
.fb-block-instance-properties li a,
.fb-block-instance-properties li button {
  text-decoration: none;
  display: block;
  border: none;
  padding: 0.375rem;
  font-size: 14px;
  cursor: pointer;
  color: #005ea5;
  width: 100%;
  text-align: left;
  background: transparent;
}
.fb-block-instance-properties li:hover {
  background: #005ea5;
}
li.fb-block-instance--delete:hover {
  background: #b10e1e;
}

.fb-block-instance-properties li:hover a,
.fb-block-instance-properties li:hover button {
  color: #fff;
}

.fb-block-instance-properties .fb-block-edit {
  font-size: 1.325rem;
}

[data-block-type="fieldset"] > .fb-block-instance-properties,
[data-block-type="section"] > .fb-block-instance-properties,
[data-block-type="group"] > .fb-block-instance-properties {
  margin-top: -2.5rem;
}
.fb-mode-edit [data-block-type="section"],
.XXfb-mode-edit :not(.fb-repeatable-item) [data-block-type="fieldset"],
.fb-mode-edit [data-block-type="group"]:not(.fb-repeatable-item) {
  outline: dotted 1px #000;
  padding-bottom: 3rem;
  margin-bottom: -3rem;
  outline-offset: 0.25rem;
  padding-top: 2rem;
  margin-top: -0.75rem;
  margin-right: -1rem;
  position: relative;
}
.fb-mode-edit [data-block-type="fieldset"]:before,
.fb-mode-edit [data-block-type="section"]:before,
.fb-mode-edit [data-block-type="group"]:before {
  content: attr(data-block-type);
  position: absolute;
  bottom: 100%;
  margin-bottom: 0.25rem;
  left: -0.25rem;
  margin-left: -2px;
  font-size: 75%;
  text-transform: uppercase;
  background: #999;
  color: #fff;
  padding: 0 0.5rem;
}

[data-block-type="fieldsset"] + .fb-block--add,
[data-block-type="section"] + .fb-block--add,
[data-block-type="group"] + .fb-block--add {
  margin-top: 0;
}

.XXXgovuk-fieldset > .fb-block-instance,
.govuk-date-input > .fb-block-instance {
  top: 0;
}
.govuk-checkboxes .fb-block-property,
.govuk-radios .fb-block-property {
  margin-left: -6rem;
}
.govuk-fieldset__legend + div > .fb-block-edit-container {
  display: none;
}

.fb-block-edit {
  position: absolute;
  font-size: 1.5rem;
  padding: 0;
  cursor: pointer;
  text-decoration: none !important;
  background-color: #fff;
  color: #005ea5 !important;
  border-radius: 50%;
  border: solid 1px #005ea5;
  width: 2rem;
  height: 2rem;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: normal;
}

a.fb-block-edit:hover,
.fb-block-instance-properties:hover > .fb-block-edit {
  background-color: #005ea5 !important;
  color: #fff !important;
}


.fb-flow-wrapper .fb-block-edit {
  visibility: hidden;
}
h2 .fb-block-edit,
.fb-flow-wrapper .fb-hover > .fb-block-edit-container > .fb-block-edit {
  visibility: visible;
}
h2 .fb-block-edit-container {
  margin-top: 0.25rem;
}

.fb-block--add {
  background: #fff;
  color: #005ea5;
  border: solid 1px #005ea5;
  border-radius: 2rem;
  padding: 0.25rem 0.5rem;
  padding-left: 2.5rem;
  height: 0rem;
  display: table;
  line-height: 1;
  position: relative;
  overflow: hidden;
  margin-left: -2.5rem;
  margin-bottom: 3rem;
  cursor: pointer;
}
.fb-block--add * {
  display: inline-block;
  margin: 0;
  padding: 0;
  xline-height: 1;
}
.fb-block--add:before {
  content: '+ ';
  display: inline-block;
  font-size: 2rem;
  line-height: 0.5;
  position: absolute;
  left: -1px;
  top: -1px;;
  border: solid 1px #005ea5;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  text-align: center;
  line-height: 1.125;
}
.fb-block--add:hover {
  color: #fff;
  background: #005ea5;
}
.fb-block--add:hover * {
  color: #fff;
}


.fb-repeatable-item {
  border: solid 1px #000;
  box-shadow:
    1px 1px 0px 0px #fff,
    2px 2px 0px 0px #000,
    3px 3px 0px 0px #fff,
    4px 4px 0px 0px #000,
    5px 5px 0px 0px #fff,
    6px 6px 0px 0px #fff,
    7px 7px 0px 0px #fff,
    8px 8px 0px 0px #fff;
    padding: 5px 0 0 5px;
    margin: -6px 0 2rem -6px;
}
p.fb-group-add {
  margin-bottom: -2rem;
}
</style>

<script>
const addBlockHover = (blocks, className, targetClass) => {
  let currentHover = []
  const getTargetBlock = (block, seekTarget) => {
    let targetBlock = block
    if (targetClass && seekTarget) {
      let targetFound
      while (!targetFound && targetBlock.parentNode) {
        targetBlock = targetBlock.parentNode
        if (targetBlock.className.includes(targetClass)) {
          targetFound = true
        }
      }
      if (!targetFound) {
        targetBlock = undefined
      }
    }
    return targetBlock
  }
  blocks.forEach(block => {
    if (block.classList.contains('fb-mode-edit')) {
      return
    }
    const addHover = (triggerBlock, seekTarget) => {
      const block = getTargetBlock(triggerBlock, seekTarget)
      if (!block) { return }
      block.classList.add(className)
    }
    const hoverRegex = new RegExp('\s*' + className)
    const removeHover = (triggerBlock, seekTarget) => {
      const block = getTargetBlock(triggerBlock, seekTarget)
      if (!block) { return }
      block.classList.remove(className)
    }
    block.addEventListener('mouseover', (e) => {
      let previousHover = document.querySelector('.' + className)
      if (previousHover) {
        currentHover.push(previousHover)
        removeHover(previousHover)
      }
      addHover(block, true)
      e.stopPropagation()
    })
    block.addEventListener('mouseout', (e) => {
      removeHover(block, true)
      const previousHover = currentHover.shift()
      if (previousHover) {
        addHover(previousHover)
      }
      e.stopPropagation()
    })
  })
}
const dateBlocks = [].slice.call(document.querySelectorAll('.fb-block-date'))
dateBlocks.forEach(dateBlock => {
  const dateBlockId = dateBlock.getAttribute('data-block-id')
  const legend = dateBlock.querySelector('legend')
  legend.setAttribute('data-block-id', dateBlockId)
  legend.setAttribute('data-block-property', 'label')
})
const editBlocks = [].slice.call(document.querySelectorAll('[data-block-id]'))
editBlocks.forEach((block, index, blocks) => {
  const originalBlock = block
  const blockId = block.getAttribute('data-block-id')
  if (blockId === 'undefined') {
    return
  }
  const blockType = block.getAttribute('data-block-type') || ''
  if (blockType === 'button') {
    return
  }

  const addEditContainer = (block, propertyType = '') => {
    const blockProperty = block.getAttribute(`data-block-property${propertyType}`)
    if (propertyType && !blockProperty) {
      return
    }
    const blockLink = blockId + (blockProperty ? '/' + blockProperty : '')
    const blockLevel = !blockProperty //block.classList.contains('govuk-form-group')
    const blockText = blockLevel ? '{}' : '✎'
    const blockClass = blockLevel ? ' fb-block-instance' : ' fb-block-property'
    let insertPosition = 'afterbegin'
    if (block.localName === 'input') {
      block = block.parentNode
      blocks[index] = block
    }
    if (block.localName === 'fieldset') {
      block = block.querySelector('legend') || block
      blocks[index] = block
    }
    let blockContent = ''
    if (blockLevel) {
      let blockShow = ''
      const blockHasValue = originalBlock.getAttribute('value') || originalBlock.querySelector(`[data-block-id="${blockId}"] > [value]`)
      const blockHasName = originalBlock.getAttribute('name') || originalBlock.querySelector(`[data-block-id="${blockId}"] > [name]`)
      blockContent = `<div class="fb-block-instance-properties"><span class="fb-block-instance-properties-heading fb-block-edit">${blockText}</span><ul>`
      const blockViewProperties = `<li><a href="/admin/instance/${blockLink}">View all ${blockType} properties</a></li>`
      blockContent += blockViewProperties
      if (blockHasName || blockType === 'radios' || blockType === 'date') {
        const blockNameProperty = `<li><a href="/admin/instance/${blockLink}/name">Set ${blockType} name</a></li>`
        blockContent += blockNameProperty
      } else if (blockHasValue) {
        const blockValueProperty = `<li><a href="/admin/instance/${blockLink}/value">Set ${blockType} value</a></li>`
        blockContent += blockValueProperty
      }
      if (blockHasName || blockType === 'radios' || blockType === 'date') {
        const blockValidationProperty = `<li><a href="/admin/instance/validation/${blockLink}">Set ${blockType} validation</a></li>`
        blockContent += blockValidationProperty
        const blockRepeatableProperty = `<li><a href="/admin/instance/${blockLink}/repeatable">Set ${blockType} repeatability</a></li>`
        blockContent += blockRepeatableProperty
      }
      if (blockType !== 'page' || document.location.pathname !== '/edit') {
        const blockShow = `<li><a href="/admin/instance/${blockLink}/show">Set ${blockType} visibility</a></li>`
        blockContent += blockShow
        const blockDelete = `<li class="fb-block-instance--delete"><form method="post" action="/admin/delete/${blockId}" class="fb-instance--delete" data-delete-type="${blockType}"><button>Delete ${blockType}</button></form></li>`
        blockContent += blockDelete
      }
      blockContent += '</ul></div>'
    } else {
      blockContent = '<div class="fb-block-edit-container' + blockClass + '"><a href="/admin/instance/' + blockLink + '" class="fb-block-edit" title="Edit ' + blockLink + '"><span>' + blockText + '</span></a></div>'
    }
    block.insertAdjacentHTML(insertPosition, blockContent)
  }
  addEditContainer(originalBlock)
  addEditContainer(originalBlock, '-instance')
})
addBlockHover(editBlocks, 'fb-hover')
const stepBlocks = [].slice.call(document.querySelectorAll('.fb-page-steps'))
addBlockHover(stepBlocks, 'fb-step-highlight', 'fb-step-container')

const deleteActions = [].slice.call(document.querySelectorAll('.fb-instance--delete'))
deleteActions.forEach(deleteAction => {
  deleteAction.addEventListener('click', function(e) {
    const strconfirm = confirm('Are you sure you want to delete?')
    if (strconfirm !== true) {
      e.preventDefault()
    }
    if (deleteAction.getAttribute('data-delete-type') === 'page') {
      alert('Page deletion currently disabled - sorry about that')
      e.preventDefault()
    }
  })
})

</script>

{% endblock %}