{% set template = "_page.njk.html" %}
{% if page.EDITMODE == "edit" %}
{% set template = "page.editable.njk.html" %}
{% endif %}
{% extends template %}

{% block bodyEnd %}
{{ super() }}
<script src="/assets/vendor/shortcuts/shortcuts.v.2.0.1.js"></script>
<script>
if (window.Shortcut) {
    const href = document.location.href.replace(/^https{0,1}:\/\/[^/]+/, '')
    const modeNav = (stub) => {
      const urlLink = document.querySelector('[data-block-id="admin.instance--url"] a')
      let url = urlLink ? urlLink.href : undefined
      if (!url) {
        url = href.replace(/\/(edit|instance|preview)/, '')
        if (url.startsWith('/admin')) {
          return
        }
      }
      url = url.replace(/^https{0,1}:\/\/[^/]+/, '')
      url = url.replace(/\/$/, '')
      if (!url && !stub) {
        url = '/'
      }
      const newHref = `${url}${stub ? `/${stub}` : ''}`
      if (href === newHref) {
        return
      }
      document.location.href =  newHref
    }
    const upNav = (type) => {
      const urlLinks = [].slice.call(document.querySelectorAll('[data-block-id="admin.instance--used"] a'))
      if (!urlLinks.length) {
        return
      }
      let newHref
      if (type === 'top') {
        newHref = urlLinks[0].href
      } else {
        newHref = urlLinks[urlLinks.length - 1].href
      }
      document.location.href = newHref
    }
    if (!href.includes('/flow')) {
      window.Shortcut.add("alt+f", () => {
        document.location.href = '/admin/flow'
      })
    }
    const flowNav = (direction) => {
      const links = [].slice.call(document.querySelectorAll('[data-block-id="admin.instance--navigation"] a'))
      let index = direction === 'next' ? 1 : 0
      const linkElement = links[index]
      if (!linkElement) {
        return
      }
      let newHref = linkElement.href
      if (newHref.includes('/dev/null')) {
        return
      }
      document.location.href = newHref
    }
    if (!href.startsWith('/admin') || href.includes('instance')) {
      const urlLink = document.querySelector('[data-block-id="admin.instance--url"] a')
      const url = urlLink ? urlLink.href : undefined
      window.Shortcut.add("alt+u", () => {
        modeNav()
      })
      window.Shortcut.add("alt+i", () => {
        modeNav('instance')
      })
      window.Shortcut.add("alt+e", () => {
        modeNav('edit')
      })
      window.Shortcut.add("alt+p", () => {
        // modeNav('preview')
      })
      window.Shortcut.add("alt+t", () => {
        upNav('top')
      })
      window.Shortcut.add("alt+up", () => {
        upNav()
      })
      window.Shortcut.add("alt+left", () => {
        flowNav('previous')
      })
      window.Shortcut.add("alt+right", () => {
        flowNav('next')
      })
    }
  }
</script>
{% endblock %}