{% set template = "_page.njk.html" %}
{% if page.EDITMODE == "edit" %}
{% set template = "page.editable.njk.html" %}
{% endif %}
{% extends template %}

{% block bodyEnd %}
{{ super() }}
<script src="/assets/vendor/shortcuts/shortcuts.v.2.0.1.js"></script>
<script>
if (window.Shortcut) {
    const href = document.location.href.replace(/^https{0,1}:\/\/[^/]+/, '')
    const updateUrl = (stub) => {
      const urlLink = document.querySelector('[data-block-id="admin.instance--url"] a')
      let url = urlLink ? urlLink.href : undefined
      if (!url) {
        url = href.replace(/\/(edit|instance|preview)/, '')
      }
      url = url.replace(/^https{0,1}:\/\/[^/]+/, '')
      url = url.replace(/\/$/, '')
      if (!url && !stub) {
        url = '/'
      }
      const newHref = `${url}${stub ? `/${stub}` : ''}`
      if (href === newHref) {
        return
      }
      document.location.href =  newHref
    }
    if (!href.startsWith('/admin') || href.includes('instance')) {
      const urlLink = document.querySelector('[data-block-id="admin.instance--url"] a')
      const url = urlLink ? urlLink.href : undefined
      window.Shortcut.add("Control+u", () => {
        updateUrl()
      })
      window.Shortcut.add("Control+i", () => {
        updateUrl('instance')
      })
      window.Shortcut.add("Control+e", () => {
        updateUrl('edit')
      })
      window.Shortcut.add("Control+p", () => {
        // updateUrl('preview')
      })
    }
  }
</script>
{% endblock %}