{% extends "_page.njk.html" %}

{% block bodyEnd %}
{{ super() }}

<style>

/* [data-block-id] */
main.govuk-main-wrapper {
  position: relative;
}

.fb-hover {
  background-color: #fc9;
}

.fb-block-edit-container {
  position: absolute;
  margin-left: -2.5rem;
  margin-top: -0.25rem;
  width: 4rem;
  height: 4rem;
  z-index: 99999999;
}
.govuk-fieldset,
.fb-block-radios,
.fb-block-checkboxes,
.fb-block-date,
.fb-block-select {
  position: relative;
}
.fb-block-instance.fb-block-edit-container {
  margin-left: -5rem;
}
.fb-block-instance .fb-block-edit {
  font-size: 1.325rem;
}

.govuk-fieldset > .fb-block-edit-container,
.govuk-date-input > .fb-block-edit-container {
  top: 0;
}
.govuk-checkboxes .fb-block-edit-container,
.govuk-radios .fb-block-edit-container {
  margin-left: -6rem;
}
.govuk-fieldset__legend + div > .fb-block-edit-container {
  display: none;
}

.fb-block-edit {
  position: absolute;
  font-size: 1.5rem;
  padding: 0;
  cursor: pointer;
  text-decoration: none !important;
  background-color: #fff;
  color: #005ea5 !important;
  border-radius: 50%;
  border: solid 1px #005ea5;
  width: 2rem;
  height: 2rem;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.5;
}
a:hover .fb-block-edit,
.fb-block-edit-container > .fb-block-edit:hover {
  background-color: #005ea5 !important;
  color: #fff !important;
}
.fb-flow-wrapper .fb-block-edit {
  visibility: hidden;
}
h2 .fb-block-edit,
.fb-flow-wrapper .fb-hover > .fb-block-edit-container > .fb-block-edit {
  visibility: visible;
}
h2 .fb-block-edit-container {
  margin-top: 0.25rem;
}

.fb-repeatable-item {
  xoutline: solid 1px #000;
  box-shadow:
    1px 1px 0px 0px #fff,
    2px 2px 0px 0px #000,
    3px 3px 0px 0px #fff,
    4px 4px 0px 0px #000,
    5px 5px 0px 0px #fff,
    6px 6px 0px 0px #000,
    7px 7px 0px 0px #fff,
    8px 8px 0px 0px #000;
}
</style>

<script>
const addBlockHover = (blocks, className, targetClass) => {
  let currentHover = []
  const getTargetBlock = (block, seekTarget) => {
    let targetBlock = block
    if (targetClass && seekTarget) {
      let targetFound
      while (!targetFound && targetBlock.parentNode) {
        targetBlock = targetBlock.parentNode
        if (targetBlock.className.includes(targetClass)) {
          targetFound = true
        }
      }
      if (!targetFound) {
        targetBlock = undefined
      }
    }
    return targetBlock
  }
  blocks.forEach(block => {
    const addHover = (triggerBlock, seekTarget) => {
      const block = getTargetBlock(triggerBlock, seekTarget)
      if (!block) { return }
      block.className = (block.className ? block.className + ' ' : '') + className
    }
    const hoverRegex = new RegExp('\s*' + className)
    const removeHover = (triggerBlock, seekTarget) => {
      const block = getTargetBlock(triggerBlock, seekTarget)
      if (!block) { return }
      block.className = block.className.replace(hoverRegex, '')
    }
    block.addEventListener('mouseover', (e) => {
      let previousHover = document.querySelector('.' + className)
      if (previousHover) {
        currentHover.push(previousHover)
        removeHover(previousHover)
      }
      addHover(block, true)
      e.stopPropagation()
    })
    block.addEventListener('mouseout', (e) => {
      removeHover(block, true)
      const previousHover = currentHover.shift()
      if (previousHover) {
        addHover(previousHover)
      }
      e.stopPropagation()
    })
  })
}
const editBlocks = [].slice.call(document.querySelectorAll('[data-block-id]'))
editBlocks.forEach(block => {
  const blockId = block.getAttribute('data-block-id')
  const blockProperty = block.getAttribute('data-block-property')
  const blockLink = blockId + (blockProperty ? '/' + blockProperty : '')
  const blockLevel = block.classList.contains('govuk-form-group')
  const blockText = blockLevel ? '{}' : '✎'
  const blockClass = blockLevel ? ' fb-block-instance' : ''
  block.insertAdjacentHTML('afterbegin', '<div class="fb-block-edit-container' + blockClass + '"><a href="/admin/instance/' + blockLink + '" class="fb-block-edit" title="Edit ' + blockLink + '"><span>' + blockText + '</span></a></div>')
})
addBlockHover(editBlocks, 'fb-hover')
const stepBlocks = [].slice.call(document.querySelectorAll('.fb-page-steps'))
addBlockHover(stepBlocks, 'fb-step-highlight', 'fb-step-container')

</script>

{% endblock %}