{% set template = "_page.njk.html" %}
{% if page.EDITMODE == "edit" %}
{% set template = "page.editable.njk.html" %}
{% endif %}
{% extends template %}




{% block bodyEnd %}
{{ super() }}
<style>


.govuk-button.fb-editor-button {
  background: #fff;
  color: #005ea5;
  border: solid 1px #005ea5;
  border-radius: 2rem;
  padding: 0.425rem 1rem 0;
  display: inline-block;
  line-height: 1;
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
  cursor: pointer;

  height: 2rem;
  box-sizing: border-box;
  box-shadow: unset;
}
button.govuk-button.fb-editor-button {
  padding-top: 0.125rem;
}
.fb-editor-button * {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.fb-editor-button:hover {
  color: #fff;
  background: #005ea5;
}
.fb-editor-button:hover * {
  color: #fff;
}

.fb-editor-button.fb-block--add {
  margin-left: -2.5rem;
  padding-left: 2.5rem;
}
.admin-content .fb-editor-button.fb-block--add {
  margin-left: 0;
}
.fb-block--add:before {
  content: '+';
  display: inline-block;
  font-size: 2rem;
  line-height: 0.5;
  position: absolute;
  left: -1px;
  top: -1px;;
  border: solid 1px #005ea5;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  text-align: center;
  line-height: 1.125;
  box-sizing: border-box;
}
.fb-block--add:active:before {
  top: 0;
}
</style>
<script src="/assets/vendor/shortcuts/shortcuts.v.2.0.1.js"></script>
<script>
if (window.Shortcut) {
    const keyChord = 'shift+alt+'
    const addShortcut = (char, fn) => {
       window.Shortcut.add(`${keyChord}${char}`, fn)
    }
    const href = document.location.href.replace(/^https{0,1}:\/\/[^/]+/, '')
    const modeNav = (stub) => {
      const urlLink = document.querySelector(`.fb-navigation-${stub} a`)
      if (!urlLink) {
        return
      }
      document.location.href = urlLink.getAttribute('href')
    }
    const upNav = (type) => {
      if (document.location.href.match(/\admin\/instance\/.+?\/.+/)) {
        document.location.href = document.location.href.replace(/\/[^/]+$/, '')
        return
      }
      const urlLinks = [].slice.call(document.querySelectorAll('[data-block-id="admin.instance--used"] a'))
      if (!urlLinks.length) {
        return
      }
      let newHref
      if (type === 'top') {
        // return modeNav('instance')
        newHref = urlLinks[0].href
      } else {
        newHref = urlLinks[urlLinks.length - 1].href
      }
      document.location.href = newHref
    }
    if (!href.includes('/flow')) {
      addShortcut('f', () => {
        document.location.href = '/admin/flow'
      })
    }
    const flowNav = (direction) => {
      const link = document.querySelector(`.fb-preview-${direction} a`)
      if (link) {
        document.location.href = link.getAttribute('href')
      }
      // let index = direction === 'next' ? 1 : 0
      // const linkElement = links[index]
      // if (!linkElement) {
      //   return
      // }
      // let newHref = linkElement.href
      // if (newHref.includes('/dev/null')) {
      //   return
      // }
      // document.location.href = newHref
    }
    if (!href.startsWith('/admin') || href.includes('instance')) {
      const urlLink = document.querySelector('[data-block-id="admin.instance--url"] a')
      const url = urlLink ? urlLink.href : undefined
      addShortcut('u', () => {
        modeNav('live')
      })
      addShortcut('i', () => {
        modeNav('instance')
      })
      addShortcut('w', () => {
        modeNav('edit')
      })
      addShortcut('p', () => {
        modeNav('preview')
      })
      addShortcut('t', () => {
        upNav('top')
      })
      addShortcut('up', () => {
        upNav()
      })
      addShortcut('left', () => {
        flowNav('previous')
      })
      addShortcut('right', () => {
        flowNav('next')
      })
    }
  }
</script>
{% endblock %}